#para1{
	margin-left: 400px;
}

#para2{
	margin-right: 400px;
}

input
{
	margin: 10px;
}

#showParagraph1{
	width: 100%;
	margin-left: 400px;
	margin-top: 400px;
	
	
}

#showParagraph2{
	width: 100%;
	margin-left: 400px;
	
}

